.container {
    max-width: 80%;
    min-width: 360px;
    margin: 20px;
    text-align: left;
}

input {
margin-bottom: 15px;
}

#ghost {
    background : green;
    height : 50px;
    width : 50px;
}