.Button {
    width: 277px;
    height: 56px;
    background-color: #44B26F;
    border: none;
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-family: "Inter", sans-serif;
    padding: 0;
}