.container {
    max-width: 80%;
    min-width: 360px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weather {
    border-radius: 7%;
    border: 2px solid blue;
    padding: 20px;
    text-align: center;
}