.App {
  text-align: center;
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
  border: 3px solid red;
}

.main-part {
  display: flex;
  flex-direction: row;
  padding: 5px;
  border: 2px solid green;
}

.right-part {
  border: 2px solid blue;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 2px;
}

.left-part {
  width: 25%;
  border: 2px solid blue;
  padding: 10px;
  margin: 0 2px;
}